<header>
    <div class="container">
        <nav>
            <ul>
                <li><a routerLink="/home"       routerLinkActive="active" (click)="triggerScrollToTop()">Home</a></li>
                <li><a routerLink="/portfolio"  routerLinkActive="active" (click)="triggerScrollToTop()">Portfolio</a></li>
                <li><a routerLink="/contacts"   routerLinkActive="active" (click)="triggerScrollToTop()">Contacts</a></li>
                <li><a routerLink="/about"      routerLinkActive="active" (click)="triggerScrollToTop()">About</a></li>
            </ul>
        </nav>
    </div>
</header>