<div class="body">
    <div class="centered">
        <div class="card-block">
            <h1 class="header text-center">About me</h1>
            <img src="{{cvFile.information.picture}}" class="profile-picture"/>
            <div class="info">
                <span class="name">{{cvFile.information.name}}</span>
                <p class="description">{{cvFile.information.description}}</p>
            </div>
            <div class="skills">
                <table class="table table-soft">
                    <thead>
                        <tr>
                            <td>Soft Skills</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cvFile.information.soft_skills">
                            <td>{{item}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="divider"></div>
                <table class="table table-skill">
                    <thead>
                        <tr>
                            <td>Top 5 Skills</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cvFile.information.top5_skills">
                            <td>{{item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td>Language</td>
                        <td>Level</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cvFile.information.languages">
                        <td>{{item.language}}</td>
                        <td>{{item.level}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>