<section class="main-header">
    <span class="name">{{cvFile.information.name}}</span>
    <span class="main-position">{{cvFile.information.main_position}}</span>
</section>

<div class="container">
    <section class="about-section">
        <h1>About me</h1>
        <span><img class="profile-picture" src="{{cvFile.information.picture}}"></span>
        <span class="description">{{cvFile.information.description}}</span>
    </section>
    <section class="hard-soft-skills">
        <div class="hard-skills">
            <h1>Hard Skills</h1>
            <div *ngFor="let item of cvFile.information.top5_skills">
                <span>{{item.skill}}</span>
                <div class="progress"><div class="progress-bar green-progress" role="progressbar" [style.width]="item.level+'0%'"></div></div>
            </div>
        </div>
        <div class="soft-skills">
            <h1>Soft Skills</h1>
            <div *ngFor="let item of cvFile.information.soft_skills" class="list-soft">
                <span class="button-type soft">{{item.skill}}</span>
                <div class="hover-box">
                    <span>{{item.description}}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="experience">
        <div class="experience-title">
            <h1>Experience</h1>
        </div>
        <div class="experience-text">
            <div *ngFor="let item of cvFile.experiences" class="container experience-block">
                <h3>{{item.company_name}}</h3>
                <span class="experience-position">{{item.position}}</span>
                <span class="experience-date">{{item.start_date}} - {{item.end_date}}</span>
                <span class="experience-location">{{item.location}}</span>
                <span class="experience-description">{{item.description}}</span>
                <div class="experience-tools-box">
                    <span class="button-type experience-tools" *ngFor="let tool of item.tools_used">{{tool}}</span>
                </div>
            </div>
        </div>
    </section>
</div>
    <!--<ul *ngFor="let item of cvFile.education">
        <li>
            <img class="logo" src="{{item.school_logo}}"><br>
            {{item.school_name}} <br>
            {{item.course}} <br>
            {{item.position}} <br>
            {{item.start_date}} - {{item.end_date}} <br>
            {{item.school_year}} <br>
            {{item.final_grade}} <br>
            {{item.description}} <br>
        </li>
    </ul> -->