<div class="main-header">
    <span class="name">{{cvFile.information.name}}</span>
    <span class="main-position">{{cvFile.information.main_position}}</span>
</div>

<div class="container">
    <div class="about-section">
        <h1>About me</h1>
        <span><img class="profile-picture" src="{{cvFile.information.picture}}"></span>
        <span class="description">{{cvFile.information.description}}</span>
    </div>
    <div class="hard-soft-skills">
        <div class="hard-skills">
            <h1>Hard Skills</h1>
            <div *ngFor="let item of cvFile.information.top5_skills">
                <span>{{item.skill}}</span>
                <div class="progress"><div class="progress-bar green-progress" role="progressbar" [style.width]="item.level+'0%'"></div></div>
            </div>
        </div>
        <div class="soft-skills">
            <h1>Soft Skills</h1>
            <div *ngFor="let item of cvFile.information.soft_skills" class="list-soft">
                <span class="soft">{{item.skill}}</span>
                <div class="hover-box">
                    <span>{{item.description}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        {{cvFile.information.name}}<br>
        <img class="profile-picture" src="{{cvFile.information.picture}}"><br>
        {{cvFile.information.location}}<br>
        <p #contact>{{cvFile.information.contact}}<br></p>
        {{cvFile.information.email}}<br>
        <p #description>{{cvFile.information.description}}<br></p>
        {{cvFile.information.soft_skills}}<br>
        {{cvFile.information.skills}}<br>
        <ul *ngFor="let item of cvFile.information.languages">
            <li>
                {{item.language}} - {{item.level}}
            </li>
        </ul><br>
        <ul *ngFor="let item of cvFile.information.url">
            <li>
                {{item.name}} 
            </li>
        </ul><br>
    </div>
    <div>
        <ul *ngFor="let item of cvFile.experiences">
            <li>
                <img class="logo" src="{{item.company_logo}}"><br>
                {{item.company_name}} <br>
                {{item.position}} <br>
                {{item.start_date}} - {{item.end_date}} <br>
                {{item.location}} <br>
                {{item.description}} <br>
                {{item.tools_used}} <br>
            </li>
        </ul><br>
    </div>
    <div>
        <ul *ngFor="let item of cvFile.education">
            <li>
                <img class="logo" src="{{item.school_logo}}"><br>
                {{item.school_name}} <br>
                {{item.course}} <br>
                {{item.position}} <br>
                {{item.start_date}} - {{item.end_date}} <br>
                {{item.school_year}} <br>
                {{item.final_grade}} <br>
                {{item.description}} <br>
            </li>
        </ul>
    </div> -->
</div>