@import "bootstrap-icons/font/bootstrap-icons.css";

::ng-deep html, ::ng-deep body {
    height: 100%;
    margin: 0;
}

* {
    font-family: "Metrophobic", sans-serif;
}

section {
    margin-bottom: 50px;
}

.profile-picture {
    max-width: 200px;
    max-height: 200px;
}

.logo {
    max-height: 75px;
    max-width: 75px;
}

.container {
    padding: 20px 0;
}

.main-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100vh - 134px);
    background-image: url('../../assets/pics/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
}

.main-header span {
    padding-left: 100px;
}

.description {
    width: 60%;
}

.name {
    font-size: 72px;
}

.main-position {
    font-size: 48px;
    padding-bottom: 200px;
}

.hard-soft-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
}

.hard-skills {
    width: 45%;
}

.progress {
    margin-bottom: 10px;
}

.soft-skills {
    width: 45%;
}

.green-progress {
    background: var(--component-color);
    color: black;
}

h1 {
    font-weight: bold;
}

span {
    font-size: 18px;
    display: inline-block;
}

.button-type {
    background: var(--component-color);
    border-radius: 5px;
    padding: 3px 10px;
    cursor: default;
    position: relative;
}

.list-soft {
    height: 57px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.hover-box {
    background-color: gray;
    color: white;
    border-radius: 5px;
    display: none;
    position: sticky;
    flex: 1;
    padding-left: 5px;
    width: 30%;
    margin-left: 10px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top left;
    transition: opacity 0.5s, transform 0.5s;
}

.hover-box span {
    font-size: 14px;
    transform: scaleX(1);
}

.soft:hover + .hover-box {
    display: block;
    opacity: 1;
    transform: scaleX(1);
    animation: displayBox forwards 0.5s;
}

.experience, .education {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 5%;
}

.experience-title, .education-title {
    /* width: 5%; */
}

.experience-text, .education-text {
    flex: 1;
}

.block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px var(--component-color) solid;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
}

.experience-description, .education-description {
    padding: 20px 0;
}

.experience-tools {
    margin: 0 10px 10px 0;
}

.experience-tools-box {
    margin-bottom: 10px;
}

@keyframes displayBox {
    0%{
        opacity: 0%;
        transform: scaleX(0);
    }
    50% {
        opacity: 100%;
    }
    100%{
        transform: scaleX(1);
    }
}