<div class="body">
    <div class="centered">
        <div class="card-block">
            <h1 class="header text-center">Contacts</h1>
            <a href="mailto:{{cvFile.information.email}}"><i class="bi bi-envelope-at-fill icon"></i>&nbsp;{{cvFile.information.email}}</a><br>
            <a href="tel:{{cvFile.information.contact}}"><i class="bi bi-phone-fill icon"></i>&nbsp;{{cvFile.information.contact}}</a><br>
            <a href="http://maps.google.com/?q= {{cvFile.information.location}}" target="_blank"><i class="bi bi-pin-map-fill icon"></i>&nbsp;{{cvFile.information.location}}</a><br>
            <hr>
            <div class="links">
                <a *ngFor="let item of cvFile.information.url" href="{{item.link}}" target="_blank"><i class="bi bi-{{ item.name | lowercase }} icon-link"></i><br>{{item.name}}</a>
            </div>
        </div>
    </div>
</div>