@import "bootstrap-icons/font/bootstrap-icons.css";

::ng-deep html, ::ng-deep body {
    height: 100%;
    margin: 0;
}

* {
    font-family: "Metrophobic", sans-serif;
}

.body {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.centered {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

ul {
    list-style-type: none;
}

.icon {
    font-size: 20px;
    color: white;
}

.icon-link {
    font-size: 28px;
    color: white;
}

.card-block {
    background: #4CAF50;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin: 5px;
    text-align: center;
    width: 70px;
}

a + a {
    border-left: 1px solid white;
    padding-left: 5px;
    margin-left: 0;
}

.links {
    display: flex;
}

a:hover i {
    color: black;

}

a:hover{
    color:black;
}