*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: "Metrophobic", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}